#Notes-app {
  font-family: "poppins", sans-serif;
  overflow-y: hidden;
  height: 100vh;
}

#notes-app-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.notes-nav-wrapper {
  display: flex;
  flex-direction: column;
  width: 50em;
  border-right: 2px solid #d1d3d4;
}

.notes-nav {
  height: 85vh;
  background-color: rgb(242, 241, 239);
}

.new-note-container {
  border-top: 2px solid #d1d3d4;
  background-color: rgb(242, 241, 239);
  height: 110px;
  max-width: 35em;
  bottom: 0;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1.2em;
  display: flex;
  gap: 1em;
  font-weight: 600;
  color: #242f36;
}

.new-note-button {
  height: 30px;
  width: 30px;
  background-color: rgb(240, 91, 22);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

#notes-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

#save-container {
  border-top: 2px solid #d1d3d4;
  background-color: rgb(242, 241, 239);
  height: 110px;
  width: 100%;
  padding-top: 1.2em;
  padding-left: 2em;
}

#note-input {
  width: calc(100% - 4em); /* Adjust the padding on the right */
  outline: none;
  height: calc(85vh - 4em - 35px);
  padding: 2em;
  resize: none;
  border: none;
}

.date {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
