#Notes-app {
  font-family: "poppins", sans-serif;
  overflow-y: hidden;
  height: 100vh;
}

#notes-app-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.notes-nav-wrapper {
  display: flex;
  flex-grow: 1;
  border-right: 2px solid #d1d3d4;
}

.notes-nav {
  background-color: rgb(242, 241, 239);
  padding-top: 10px;
  width: 100%;
}

.new-note-container {
  border-top: 2px solid #d1d3d4;
  background-color: rgb(242, 241, 239);
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  font-weight: 600;
  color: #242f36;
  align-items: center;
  height: 65px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#new-note-button {
  height: 30px;
  width: 30px;
  background-color: rgb(240, 91, 22);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#notes-container {
  display: flex;
  width: 45em;
  flex-direction: column;
}

#save-container {
  display: flex;
  align-items: center;
  border-top: 2px solid #d1d3d4;
  background-color: rgb(242, 241, 239);
  height: 65px;
  width: 100%;
  padding-left: 2em;
  position: absolute;
  bottom: 0;
  
}

#note-input {
  width: calc(100% - 4em); /* Adjust the padding on the right */
  outline: none;
  height: calc(85vh - 4em - 35px);
  padding: 2em;
  resize: none;
  border: none;
}

.date {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#plus-svg {
  height: 20px;
  width: 20px;
  fill: white;
  
}

.note {
  font-family: "poppins", sans-serif;
  color: #242f36;
  display: flex;
  border: 2px solid #d1d3d4;
  border-radius: 10px;
  padding: 0.75em;
  margin: 0.5em 1em 1em 1em;
  background-color: rgb(242, 241, 239);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  min-width: 300px;
  align-items: center;
  position: relative;
  height: 100px;
}

.note-btn-container {
  gap: 0.5em;
  display: flex;
  position: absolute;
  right: 20px;
  top: 20px;
  margin-left: 2px;
}

.note-name {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 1.4em;
  font-weight: 600;
}